.logoText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 72px;
  font-size: 21px;
}

.icon {
  margin-right: 4px;
  font-size: 28px;
}

@media screen and (1340px >= width) {
  .logoText {
    background-color: var(--background-header-color);
  }
}
