/* Loading.tsx */
.loadingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
  letter-spacing: 0.07em;
}

/* page.tsx */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 16vw;
}

.contentWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.container {
  width: 50%;
}

.container:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5vw;
}

.title {
  margin-bottom: 1vw;
  font-size: 7vw;
  color: transparent;
  letter-spacing: 0.05em;
  background-image: linear-gradient(
    15deg,
    #13547a 0%,
    var(--accent-color) 100%
  );
  background-clip: text;
}

.message {
  margin-bottom: 2.5vw;
  font-size: 1.25vw;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.125em;
}
