/* Loading.tsx */
.loadingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(51 51 51 / 20%);
}

/* page.tsx */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 16vw;
}

.contentWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.container {
  width: 50%;
}

.container:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5vw;
}

.title {
  margin-bottom: 1.5vw;
  font-size: 7vw;
  color: transparent;
  letter-spacing: 0.05em;
  background-image: linear-gradient(
    15deg,
    #13547a 0%,
    var(--accent-color) 100%
  );
  background-clip: text;
}

.message {
  margin-bottom: 1.5vw;
  font-size: 1.25vw;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.125em;
}

@media screen and (1600px <= width) {
  .contentWrapper {
    display: flex;
    align-items: center;
    width: 1087px;
  }

  .title {
    margin-bottom: 25px;
    font-size: 112px;
  }

  .message {
    margin-bottom: 24px;
    font-size: 20px;
  }

  .container:nth-child(1) {
    padding: 43px;
  }
}
