.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
  letter-spacing: 0.07em;
}

.wrapper h1 {
  padding: 16px;
  font-size: 64px;
  font-weight: 700;
  color: transparent;
  letter-spacing: 0.05em;
  background-image: linear-gradient(
    15deg,
    #13547a 0%,
    var(--accent-color) 100%
  );
  background-clip: text;
}

.newLink {
  padding: 16px 24px;
  font-size: 24px;
  transition: 0.2s;
}

.iconPencil {
  margin-left: 8px;
}

.newLink:hover {
  opacity: 0.6;
  transition: 0.2s;
}
