@charset "utf-8";

:root {
  --dark-color: #333;
  --light-dark-color: #b8c3c8;
  --main-color: #153f4f;
  --accent-color: #43c6ac;
  --background-header-color: #153f4f;
  --background-base-color: #fff;
  --background-main-color: #f3f9ff;
}

html {
  color: var(--dark-color);
  letter-spacing: 0.15em;
  background-color: var(--background-base-color);
}
