.button {
  text-align: center;
  border-radius: 5px;
}

.default {
  width: 128px;
  height: 48px;
  color: #fff;
  background-color: var(--main-color);
  transition: 0.1s;
}

.default:hover {
  opacity: 0.8;
  transition: 0.1s;
}

.welcomeLogin {
  width: 48%;
  height: 3.75vw;
  font-size: 1.2vw;
  color: var(--main-color);
  border: 0.2vw solid var(--main-color);
  transition: 0.2s;
}

.welcomeLogin:hover {
  opacity: 0.5;
  transition: 0.2s;
}

.welcomeSignup {
  width: 48%;
  height: 3.75vw;
  font-size: 1.2vw;
  color: #fff;
  background-color: var(--main-color);
  transition: 0.2s;
}

.welcomeSignup:hover {
  opacity: 0.75;
  transition: 0.2s;
}

.mainFootSubmit {
  width: 128px;
  height: 48px;
  color: #fff;
  background-color: var(--main-color);
  transition: 0.1s;
}

.mainFootSubmit:hover {
  opacity: 0.8;
  transition: 0.1s;
}

.mainFootCancel {
  width: 128px;
  height: 48px;
  color: var(--dark-color);
  background-color: #fff;
  border: 1px solid var(--main-color);
  transition: 0.1s;
}

.mainFootCancel:hover {
  opacity: 0.6;
  transition: 0.1s;
}

.authSubmid {
  width: 100%;
  height: 48px;
  margin-bottom: 48px;
  color: #fff;
  text-indent: 0.5em;
  letter-spacing: 0.5em;
  background-color: var(--main-color);
  transition: 0.1s ease-in-out;
}

.authSubmid:hover {
  opacity: 0.8;
  transition: 0.1s ease-in-out;
}

.mainFootPrintInvoice {
  width: 128px;
  height: 48px;
  color: #fff;
  background-color: var(--main-color);
  transition: 0.1s;
}

.mainFootPrintInvoice:hover {
  opacity: 0.8;
  transition: 0.1s;
}

@media screen and (1600px <= width) {
  .welcomeLogin,
  .welcomeSignup {
    width: 219px;
    height: 61px;
    font-size: 19px;
  }

  .welcomeLogin {
    border: 3px solid var(--main-color);
  }
}
