.container {
  height: 64px;
  vertical-align: middle;
  border-bottom: 1px solid var(--light-dark-color);
}

.select {
  width: 100%;
  line-height: 36px;
  text-align: center;
  border-bottom: 1px dashed var(--light-dark-color);
  border-radius: 5px;
}

.select:hover {
  cursor: pointer;
  border-bottom: 1px dashed var(--accent-color);
}

.select:focus {
  outline: none;
}
