.container {
  height: 64px;
  padding-right: 12px;
  padding-left: 12px;
  vertical-align: middle;
  border-bottom: 1px solid var(--light-dark-color);
}

.input {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  line-height: 36px;
  border-bottom: 1px dashed var(--light-dark-color);
}

.input:focus {
  border-bottom: 1px dashed var(--accent-color);
  outline: none;
}

.container:hover {
  cursor: text;
}

.container:hover .input {
  border-bottom: 1px dashed var(--accent-color);
}
