.container {
  width: 100%;
  padding: 4px 8px;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  color: #eee;
  border-radius: 4px;
  transition: 0.2s;
}

.item:hover {
  background-color: rgb(255 255 255 / 20%);
  transition: 0.05s;
}

.icon {
  margin-right: 4px;
  font-size: 21px;
}

@media screen and (1340px >= width) {
  .container {
    width: 160px;
    padding: 0;
  }

  .item {
    justify-content: center;
  }
}
