.container {
  margin-bottom: 32px;
}

.label {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  border-bottom: 1px solid var(--light-dark-color);
}

.firstlLabel {
  padding-top: 0;
}

.label:hover {
  background-color: var(--background-main-color);
  transition: background-color 0.1s ease-in-out;
}
