.container {
  margin-bottom: 32px;
}

.label {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  border-bottom: 1px solid var(--light-dark-color);
}

.label:hover {
  opacity: 0.6;
}

.firstlLabel {
  padding-top: 0;
}

.selected {
  background-color: var(--background-main-color);
}

.selected:hover {
  background-color: var(--background-main-color);
  opacity: 1;
}
