.table {
  width: 100%;
  border-top: 2px solid var(--light-dark-color);
  border-bottom: 2px solid var(--light-dark-color);
}

.th,
.td {
  height: 56px;
  vertical-align: middle;
  border-bottom: 1px solid var(--light-dark-color);
}

.th {
  font-weight: 400;
  text-align: center;
}

.td {
  padding-right: 24px;
  text-align: right;
}
