.textarea {
  max-width: 100%;
  padding: 8px;
  line-height: 1.5;
  border: 1px solid var(--light-dark-color);
  border-radius: 4px;
}

.textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.input::placeholder {
  color: var(--light-dark-color);
}
