.container {
  width: 100%;
}

.header {
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border-bottom: 2px solid var(--light-dark-color);
}

.transactionDate,
.quantity,
.price,
.totalPrice {
  width: 128px;
}

.unit,
.taxType {
  width: 96px;
}

.totalPrice {
  width: 160px;
}
